<h1>Mai ToDo List:</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag(idea.picture_url, :width => 100) if idea.picture.present? %></td>
        <td><%= link_to 'Show', idea, :class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Nuke', idea, method: :delete, data: { confirm: 'Really really?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
